#myContainer,
#allOthersContainer {
  border: 2px solid black;
}

.allContainers {
  display: flex;
}

#myContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#allOthersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#myContainer,
#allOthersContainer {
  width: 50%;
  padding: 10px;
}
